@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

body {
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
}

.header {
	height: 70px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
}

.image {
	background: url("../images/bgimg.jpg");
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	color: #e9c46a;
}

.menu_html {
	background-image: url("../images/bgimg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.menu_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_middle {
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 60%;
	text-align: center;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	color: black;
}

.table_menu{
	color:black;
	width:90%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.td_left{
	width: 30%;
}

.td_middle{
	width: 50%;
}

.td_right{
	width: 20%;
	text-align: right;
}

.admin_td_left{
	width: 20%;
	text-align: center;
}

.admin_td_middle{
	width: 30%;
	text-align: center;
}

.admin_td_right{
	width: 10%;
	text-align: center;
}

.admin_td_buy{
	width: 10%;
	text-align: center;
	text-decoration: none;
}

.admin_table_td{
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.admin_button_add{
	background-color: black;
	color: #e9c46a;
	padding: 4px 18px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}

.admin_th{
	font-size: 25px;
	text-align: center;
}

.admin_td{
	font-size: 18px;
	text-align: center;

}

.form_admin{
	padding: 6px 10px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Cormorant Garamond', serif;
	font-size: 15px;
}

.image {
	z-index: -1;
}

.main {
	position: absolute;
	width: 100%;
	top: 100%;
	height: 1300px;
	text-align: center;
	background: url("../images/main-background.jpg");
	background-size: cover;
}

.footer {
	height: 250px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #0c0e0e;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: nowrap
}

.text_footer_left {
	width: 300px;
	align-self: center;
	color: #e9c46a;
	font-size: 18px;
}

.text_footer_right {
	width: 300px;
	align-self: center;
	color: #e9c46a;
	font-size: 18px;
}

.main_menu {
	background-color: rgba(0, 0, 0, 0.7);
	height: 850px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
}

.main_menu_text {
	color: #e9c46a;
	font-size: 24px;
	padding: 250px;
}

.header_link {
	color: white;
	text-decoration: none;
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	letter-spacing: 3px;
}

.header_link_left{
	margin-top: 25px;
	margin-left: 20px;
	text-decoration: none;
	letter-spacing: 3px;
	color:white;
	float: left;
}

.main_login {
	background: url("../images/bgimg.jpg");
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.div_login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	color: #e9c46a;
}

.form_login {
	padding: 6px 10px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Cormorant Garamond', serif;
}

.button_login_a{
	background-color: black;
	color: #e9c46a;
	padding: 6px 22px;
	border: none;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
}

.button_login_a:hover{
	box-shadow: 0 6px 16px 0 rgba(0,0,0,.7),0 6px 50px 0 rgba(255,204,29,.9);
}

.button_login{
	background-color: black;
	color: #e9c46a;
	padding: 8px 24px;
	border: none;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Cormorant Garamond', serif;
	font-size: 15px;
}

.button_login:hover{
	box-shadow: 0 6px 16px 0 rgba(0,0,0,.7),0 6px 50px 0 rgba(255,204,29,.9);
}

.register_link{
	margin-left:10px;
	color: #e9c46a;
}