<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header">
    <div th:if="${session.customerLogin == null}">
        <a th:href="@{/register}" class="header_link">Zarejestruj się</a>
        <a th:href="@{/login}" class="header_link">Zaloguj się</a>
        <a th:href="@{/adminLogin}" class="header_link">Administrator</a>
    </div>
    <div th:if="${session.customerLogin != null}">
        <div th:if="${session.searchH != null}">
            <a th:href="@{/goHome}" class="header_link">Home</a>
        </div>
        <a th:href="@{/customerLogout}" class="header_link">Logout</a>
        <a th:href="@{/viewCart}" class="header_link">View Cart</a>
        <a th:href="@{/viewOrders/{email}(email=${session.customerLogin})}" class="header_link">View Active Orders</a>
    </div>
</div>

<div class="main_login">
    <div class="div_login">
        <form action="#" th:action="@{/verifyLogin}" , method="POST">
            <h3 th:text="Administracja"></h3>
            <input name="username" type="text" placeholder="Nazwa użytkownika" class="form_login" required/> <br/><br/>
            <input name="password" type="password" placeholder="Hasło" class="form_login" required/> <br/><br/>
            <button type="submit" th:text="Zaloguj" class="button_login"></button>
            <h3 th:text="${action}"></h3>
        </form>
    </div>
</div>

</body>
</html>