<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org" class="menu_html">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header">
    <a th:href="@{/getDashboard}" class="header_link">Powrót do panelu głównego</a>
</div>

<div class="menu_container">
    <div class="menu_middle">
        <h2>Zmiana hasła administratora</h2>
        <form action="#" th:action="@{/updatePassword}" , method="POST">
            <h3 th:text="${action}"></h3>
            <table class="table_menu">
                <thead>
                <tr>
                    <th class="admin_th">Nazwa użytkownika</th>
                    <th class="admin_th" th:text="${session.uname}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="admin_td">Wprowadź stare hasło</td>
                    <td class="admin_td"><input type="password" name="oldPassword" placeholder="stare hasło" class="form_admin" required></td>
                </tr>
                <tr>
                    <td class="admin_td">Wprowadź nowe hasło</td>
                    <td class="admin_td"><input type="password" name="newPassword" placeholder="nowe hasło" class="form_admin" required></td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="Zmień hasło" class="admin_button_add">
        </form>
    </div>
</div>

</body>
</html>