<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org" class="menu_html">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header">
    <a th:href="@{/manageCustomer}" class="header_link">Powrót do zarządzania użytkownikami</a>
</div>

<div class="menu_container">
    <div class="menu_middle">
        <h2>Zamówienia użytkownika</h2>
        <h3 th:text="${action}"></h3>
        <span th:text="${session.action}"></span>
        <table class="table_menu">
            <thead>
            <tr>
                <th class="admin_th">Id zamówienia</th>
                <th class="admin_th">Data zamówienia</th>
                <th class="admin_th">Email użytkownika</th>
                <th class="admin_th">Imię</th>
                <th class="admin_th">Koszt</th>
                <th class="admin_th">Nazwa produktów</th>
                <th class="admin_th">Ilość</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}" class="admin_td"></td>
                <td th:text="${order.date}" class="admin_td"></td>
                <td th:text="${order.customer.email}" class="admin_td"></td>
                <td th:text="${order.customer.name}" class="admin_td"></td>
                <td th:text="${order.price}" class="admin_td"></td>
                <td class="admin_td_orders">
                    <span th:each="od : ${order.orderDetails}">
                        <a th:text="${od.name}"></a>
                        <br>
                    </span>
                </td>
                <td class="admin_td_orders">
                    <span th:each="od : ${order.orderDetails}">
                        <a th:text="'x' + ${od.quantity}"></a>
                        <br>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>