<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org" class="menu_html">
<head>
    <meta charset="UTF-8">
    <title>Sapori Solari</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header">
    <div th:if="${session.customerLogin == null}">
        <a th:href="@{/}" class="header_link_left">Saproi Solari</a>
        <a th:href="@{/register}" class="header_link">Zarejestruj się</a>
        <a th:href="@{/login}" class="header_link">Zaloguj się</a>
    </div>
    <div th:if="${session.customerLogin != null}">
        <a th:href="@{/}" class="header_link_left">Saproi Solari</a>
        <a th:href="@{/customerLogout}" class="header_link">Wyloguj się</a>
        <a th:href="@{/viewCart}" class="header_link">Koszyk</a>
        <a th:href="@{/viewOrders}" class="header_link">Twoje zamówienia</a>
        <a th:href="@{/menu}" class="header_link">Menu</a>
    </div>
</div>

<div class="menu_container">
    <div class="menu_middle">
        <h2>Zamówienia</h2>
        <h3 th:text="${action}"></h3>
        <span th:text="${session.action}"></span>
        <table class="table_menu">
            <thead>
            <tr>
                <th class="admin_th_orders">Id zamówienia</th>
                <th class="admin_th_orders">Data zamówienia</th>
                <th class="admin_th_orders">Koszt zamówienia</th>
                <th class="admin_th_orders">Produkty</th>
                <th class="admin_th_orders">Ilość</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}" class="admin_td_orders"></td>
                <td th:text="${order.date}" class="admin_td_orders"></td>
                <td th:text="${order.price}" class="admin_td_orders"></td>
                <td class="admin_td_orders">
                    <span th:each="od : ${order.orderDetails}">
                        <a th:text="${od.name}"></a>
                        <br>
                    </span>
                </td>
                <td class="admin_td_orders">
                    <span th:each="od : ${order.orderDetails}">
                        <a th:text="'x' + ${od.quantity}"></a>
                        <br>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>