<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org" class="menu_html">
<head>
    <meta charset="UTF-8">
    <title>Sapori Solari</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header">
    <div th:if="${session.customerLogin == null}">
        <a th:href="@{/}" class="header_link_left">Saproi Solari</a>
        <a th:href="@{/register}" class="header_link">Zarejestruj się</a>
        <a th:href="@{/login}" class="header_link">Zaloguj się</a>
    </div>
    <div th:if="${session.customerLogin != null}">
        <a th:href="@{/}" class="header_link_left">Saproi Solari</a>
        <a th:href="@{/customerLogout}" class="header_link">Wyloguj się</a>
        <a th:href="@{/viewOrders}" class="header_link">Twoje zamówienia</a>
    </div>
</div>

<div class="menu_container">
    <div class="menu_middle">
        <h2>Koszyk</h2>
        <h3 th:text="${action}"></h3>
        <span th:text="${session.action}"></span>
        <table class="table_menu">
            <thead>
            <tr>
                <th class="admin_th">Nazwa produktu</th>
                <th class="admin_th">Ilość</th>
                <th class="admin_th">Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cart : ${cartList}">
                <td th:text="${cart.name}" class="admin_td"></td>
                <td th:text="${cart.quantity}" class="admin_td"></td>
                <td th:text="${cart.price}" class="admin_td"></td>
                <td class="admin_td"><a th:href="@{/deleteCartProduct/{id}(id=${cart.id})}">Usuń</a></td>
            </tr>
            </tbody>
        </table><br>

        <form th:action="@{/buyNow}" , method="POST">
            <span class="admin_td" th:text=" 'Kwota twojego zamówienia to: ' + ${#aggregates.sum(cartList.![price])}"></span>
            <button class="admin_button_add" type="submit" style="margin-left: 10px">Zamów</button>
        </form>
    </div>
</div>

</body>
</html>